#dark{
    background-color:#333;
    border:0px solid #000;
    padding:10px;
    margin-top:20px;}

#light{
    background-color:#FFF;
    border:0px solid #dedede;
    padding:10px;
    margin-top:20px;}	

.button, .button:visited {
    background: #222 url(overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer
}

.button:hover							{ background-color: #111; color: #fff; }
.button:active							{ top: 2px; }
.small.button, .small.button:visited 			{ font-size: 11px}
.button, .button:visited,
.medium.button, .medium.button:visited 		{ font-size: 13px; 
						  font-weight: bold; 
						  line-height: 1; 
						  text-shadow: 0 -1px 1px rgba(0,0,0,0.25); 
						}

.large.button, .large.button:visited 			{ font-size: 14px; 
							  padding: 8px 14px 9px; }

.super.button, .super.button:visited 			{ font-size: 24px; 
							  padding: 8px 14px 9px; }

.pink.button, .magenta.button:visited		{ background-color: #e22092; }
.pink.button:hover							{ background-color: #c81e82; }
.green.button, .green.button:visited		{ background-color: #91bd09; }
.green.button:hover						    { background-color: #749a02; }
.red.button, .red.button:visited			{ background-color: #e62727; }
.red.button:hover							{ background-color: #cf2525; }
.orange.button, .orange.button:visited		{ background-color: #ff5c00; }
.orange.button:hover						{ background-color: #d45500; }
.blue.button, .blue.button:visited		    { background-color: #2981e4; }
.blue.button:hover							{ background-color: #2575cf; }
.yellow.button, .yellow.button:visited		{ background-color: #ffb515; }
.yellow.button:hover						{ background-color: #fc9200; }


.image_panel {
    background: #222 url(overlay.png) repeat-x; 
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none;
    -moz-border-radius: 6px; 
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
}



.mainimage {
    max-width: 500px;
    max-height: 500px;
    width: expression(this.width > 500 ? "400px" : true);
}


table.fixed {
    table-layout:fixed;
    border: 10px solid rgba(255,255,255,1.0);
    font-size:x-large;
}

table.fixed td {
    overflow: hidden; 
    width:500px;
    height:500px;
    border: 2px solid rgba(255,255,255,.75);
}